<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:layout name="Default" />

<f:section name="Title">New User</f:section>

<f:section name="Content">
    <h1>Register a new user:</h1>
    <f:form method="post" action="register" controller="User" subpackage="Command" name="command">
        <f:form.textfield property="username" />
        <f:form.select property="type" options="{'User': 'User', 'Moderator': 'Moderator', 'Admin': 'Admin'}" />
        <br/>
        <f:form.button type="submit">Register</f:form.button>
    </f:form>
</f:section>
</html>