<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <head>
        <meta charset="utf-8">
        <title><f:render section="Title" /></title>
    </head>
    <body>
        <div>
            <f:link.action action="list" controller="User" subpackage="Query">All users</f:link.action>
            <f:link.action action="new" controller="User" subpackage="Query">Register user</f:link.action>
            <f:link.action action="users" controller="Report" subpackage="Query">Users Report</f:link.action>
        </div>

        <f:flashMessages class="flashmessages" />

        <h1><f:render section="Title" /></h1>
        <f:render section="Content" />
    </body>
</html>
